.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(45, 10, 243);
  color: white;
  padding: 15px;
  font-size: 2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
 
}

.nav a {
  color: white;
  text-decoration: none;
}
.nav a:hover{
  color:brown;
  cursor: pointer;
}
.home
.about{
  margin:2rem 5rem;
  font-size:3em ;
}
.stocks-container{
  
  
  align-items: center;
}
.left-element{
  flex:1;
  margin-left: 7rem;
  margin-right: 0;
  display: flex;
  text-align: left;

}
.right-elements{
  flex:1;
  margin-right:7rem ;
  text-align: right;
  display: flex;
  justify-content: end;
}
.right-element{
  margin-right:4rem ;
}
.h3{
  color: rgb(241, 46, 46);
  margin : 1rem 0;
  text-decoration: none;

}
.h4{
  color:aqua;
  text-decoration: none;
}
